.side-bar
  .header
    %h3.header__name
      ああああ
    %ul.header__lists
      %li.list
        
          
      %li.list
        

  .groups
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ